HUGGINGFACEHUB_API_TOKEN=""
OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT="https://{your-project-name}.services.ai.azure.com/openai/v1/"
AZURE_OPENAI_DEPLOYMENT_NAME="gpt-5-nano"
AZURE_OPENAI_API_KEY= ""
GOOGLE_API_KEY = ""
GEMINI_MODEL="gemini-2.5-flash"